@inherits LayoutComponentBase
@inject IAuthenticationServices _authservice
@inject NavigationManager Navigation
@inject IAuthenticationServices _providerService
<div class="col-12 ">
    @Body
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
@code{
    
}