@inherits LayoutComponentBase

@inject IAuthenticationServices _authservice
@inject NavigationManager Navigation
@inject IAuthenticationServices _providerService
@using Microsoft.AspNetCore.Components.Authorization

<BlazoredToasts />
<AuthorizeView>
    <Authorized Context="Auth">
        @*<h1>Hello, @context.User.Identity.Name!</h1>*@

        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">

                <div class="top-row px-4" style="margin-bottom:25px; background-color:#fff">
                    <Notification />
                    <input type="button" @onclick="Logout" class="btn btn-link " value="logout" />
                </div>

                <div class="content px-4">

                    @Body
                </div>
            </div>
        </div>

        <BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="10"
                        IconType="IconType.FontAwesome"
                        SuccessClass="success-toast-override"
                        SuccessIcon="fa fa-thumbs-up"
                        ErrorIcon="fa fa-bug" />
    </Authorized>
    @*<NotAuthorized>*@

    @*<h1>Authentication Failure!</h1>
        <p>You're not signed in.</p>*@
    @*</NotAuthorized>*@
</AuthorizeView>

@code {

    private void SecureMethod()
    {

    }
    public void Logout()
    {
        _authservice.Logout();
        Navigation.NavigateTo("/", true);
    }
}
