@inherits LayoutComponentBase

@inject IAuthenticationServices _authservice
@inject NavigationManager Navigation
@inject IAuthenticationServices _providerService
@using Microsoft.AspNetCore.Components.Authorization


<AuthorizeView>
    <Authorized Context="Auth">

        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">

                <div class="top-row px-4" style="margin-bottom:25px; background-color:#fff">
                    <Notification />
                    <input type="button" @onclick="Logout" class="btn btn-link " value="logout" />
                </div>

                <div class="content px-4">

                    @Body
                </div>
            </div>
        </div>

    </Authorized>
    @*<NotAuthorized>

        <h1>Authentication Failure!</h1>
            <p>You're not signed in.</p>
        </NotAuthorized>*@
</AuthorizeView>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
@code {

    private void SecureMethod()
    {

    }
    protected override async Task OnInitializedAsync()
    {
        var user = await _authservice.GetLocalUser();
        if (user.id < 0)
        {
            Navigation.NavigateTo("/", true);
        }
    }

    public void Logout()
    {
        _authservice.Logout();
        Navigation.NavigateTo("/", true);
    }
}
