@inject INotificationService _service;
<style>
    .ul.rz-profile-menu {
        border-left: none !important;
    }

    .badge {
        position: absolute;
        top: 0px;
        right: 40px;
        border-radius: 50%;
        background: red;
        color: white;
    }
</style>


<RadzenProfileMenu>
    <Template>
        <i class="fa fa-bell" style="font-size:24px"></i>

        <span class="badge">@no</span>

    </Template>
    <ChildContent>
        @foreach (var i in Notifications)
        {
            <RadzenProfileMenuItem Text="@i.message" Path="@("/appDetails/"+i.idOfAction+"/notificationid/"+i.id)" Icon="announcement"></RadzenProfileMenuItem>
        }

    </ChildContent>
</RadzenProfileMenu>

@code {

    private List<NotificationDto> Notifications = new();
    private int no = 0;
    protected override async Task OnInitializedAsync()
    {
        Notifications = await _service.GetNotifications();
        no = Notifications.Count;
    }



}
