@inject IApplicationService appsService


<div class="simple-form">

    <div class="form-group">
        <label for="movie-name">Aplikimi: @userApp.applicationDto.appName </label>
        <textarea type="text" class="form-control" id="movie-name" />
    </div>
    <button @onclick="SaveMovie" class="btn btn-primary">Submit</button>
   
</div>


@code {

    [Parameter] public UserApplicationsRequestDto userApp { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }

    async void SaveMovie()
    {
        var parameters = new ModalParameters();
        var result = await appsService.PassInNextStepAsync(userApp);
        if (result.success)
        {
            parameters.Add(nameof(Components.SuccessComponent.message), result.errorMessage);
            parameters.Add(nameof(Components.SuccessComponent.url), "/dashboard");

            Modal.Show<Components.SuccessComponent>("Success", parameters);
        }
        else
        {
            parameters.Add(nameof(Components.ErrorComponent.message), result.errorMessage);
            Modal.Show<Components.ErrorComponent>("Error", parameters);
        }
        //appsService.Save(apps);
        // ModalInstance.CloseAsync(ModalResult.Ok<ApplicationRequestDto>(apps));
    }
}
