@inject IApplicationService appsService

<div class="simple-form">
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item disabled">Aplikimi:  <input style="right:auto" type="text" @bind-value="apps.appName" /></li>
            <li class="list-group-item">Data e aplikimit: <input type="datetime" @bind-value="apps.appDate" style="right:auto" /></li>
            <li class="list-group-item">
                Institucioni i aplikimit:
                @*<select @bind="ListOfApplicationCofigs.ListOfInstitution">
                        @if (ListOfApplicationCofigs?.ListOfInstitution != null)
                        {
                            @foreach (var ist in ListOfApplicationCofigs.ListOfInstitution)
                            {
                                <option value="@ist.id">@ist.name</option>
                            }
                        }
                    </select>*@
                <input type="text" @bind-value="apps.institution.name" style="right:auto" />
            </li>
            <li class="list-group-item">
                Statusi:
                @*<select @bind="ListOfApplicationCofigs.ListOfStatus">
                        @if (ListOfApplicationCofigs?.ListOfStatus != null)
                        {
                            @foreach (var ist in ListOfApplicationCofigs.ListOfStatus)
                            {
                                <option value="@ist.id">@ist.status</option>
                            }
                        }
                    </select>*@
                <input type="text" @bind-value="apps.status.status" style="right:auto" />
            </li>
            <li class="list-group-item">Tipi: <input type="text" @bind-value="apps.type.name" style="right:auto" /></li>
        </ul>
    </div>
    <button @onclick="SaveMovie" class="btn btn-primary">Submit</button>
    <button @onclick="ModalInstance.CancelAsync" class="btn btn-secondary">Cancel</button>
</div>



@code {

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }


    [Parameter] public ApplicationRequestDto apps { get; set; }
    [Parameter] public ListOfApplicationConfigsDto ListOfApplicationCofigs { get; set; }


    void SaveMovie()
    {
        //appsService.Save(apps);
        ModalInstance.CloseAsync(ModalResult.Ok<ApplicationRequestDto>(apps));
    }

}
