@page "/finishedApps";

@inject NavigationManager Navigation
@inject IAuthenticationServices _auth
@inject IApplicationService _appService
@inject NavigationManager _navmanager


@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized Context="Auth">

        <RadzenCard>
            <div class="row">
                <div class="col-10">
                    <h3>Aplikimet e perfunduara</h3>
                </div>
       
            </div>
            @if (apps != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Aplikimi</th>
                            <th scope="col">Data</th>
                            <th scope="col">Statusi</th>
                            <th scope="col">Data e perfundimit</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in apps)
                        {
                        <tr>
                            <th scope="row">1</th>
                            <td>@a.appName</td>
                            <td>@a.appDate</td>
                            <td>@a.status</td>
                            <td style="cursor:pointer; text-align:center">
                            </td>
                            <td style="cursor:pointer; text-align:center">
                                <RadzenIcon Icon="open_in_new" @onclick="(()=>GoToDetails(a.appId))" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
        </RadzenCard>
    </Authorized>
</AuthorizeView>

@*</Authorized>
        <NotAuthorized>
            <h1>Authentication Failure!</h1>
            <p>You're not signed in.</p>
        </NotAuthorized>
    </AuthorizeView>*@

@code {

    private List<ApplicationRequestDto> apps = new();

    protected override async Task OnInitializedAsync()
    {

        apps = await _appService.GetFinishedApplicationAsync();
    }

    void GoToDetails(int id)
    {
        _navmanager.NavigateTo($"/appDetails/{id}");
    }
    void GoToNewApplicationComponent()
    {
        _navmanager.NavigateTo("/newApplication");
    }
}
