@layout LoginLayout
@page "/"
@inject IAuthenticationServices _authservice
@inject NavigationManager _navmanager
@inject IJSRuntime JsRuntime
@inject IToastService toastService

<center>
    <div class="col-xl-8 p-3">
        <RadzenCard>
            <h2 class="mb-4">Login with register</h2>
            <RadzenTemplateForm Data=@("LoginWithRegister")>
                <RadzenLogin AllowResetPassword="false"
                             Login=@(args => OnLogin(args))
                             Register=@(args => OnRegister()) />
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
</center>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
@code {


    [CascadingParameter] public IModalService Modal { get; set; }

    private async Task OnLogin(Radzen.LoginArgs args)
    {
        var result = await _authservice.Login(new LoginRequest() { username = args.Username, password = args.Password });

        if (!result.success)
        {
            toastService.ShowError(result.errorMessage);
        }
        else
        {
            _navmanager.NavigateTo($"/dashboard");
        }

    }
    private async Task OnRegister()
    {

    }
}
