@inject IApplicationService _appsService
@inject IToastService toastService
@inject NavigationManager _navmanager

<EditForm Model="requestDto">
    <div class="simple-form">

        <div class="form-group">
            <label>Koment </label>
            <InputTextArea @bind-Value="requestDto.comment" class="form-control"></InputTextArea>

        </div>
        <button @onclick="Refuze" class="btn btn-primary">Dergo</button>

    </div>
</EditForm>

@code {




    [Parameter] public UserApplicationsRequestDto requestDto { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }


    protected override async Task OnInitializedAsync()
    {
        requestDto.comment = "";

    }
    async void Refuze()
    {

        var parameters = new ModalParameters();
        var result = await _appsService.RefuseApplicationAsync(requestDto);
        if (result.success)
        {
            toastService.ShowSuccess("Aplikimi kaloi me sukses");
            _navmanager.NavigateTo("/dashboard");

        }
        else
        {
            toastService.ShowError("Ka ndodhhur nje gabim");

        }
    }
}
